/node_modules
/public/hot
/public/storage
/public/files
/public/fonts
/public/components
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.vscode
.zip
.rar
.DS_Store
